{erl_opts, [debug_info
  ,{parse_transform, lager_transform}
  ,{parse_transform, exprecs}
]}.
%%%% deps时dependence的缩写，表示多个依赖的意思
{deps, [
  {lager, "3.4.2"}
  ,{parse_trans, "3.0.0"}
  , {cowboy, "1.0.4"}
  ,{xfutils, {git, "https://github.com/simonxu72/erlang-xfutils", {branch, "master"}}}
  ,{mochiweb, {git, "https://github.com/pingjianwei/mochiweb.git", {branch, "master"}}}
  ,{erlsom, {git, "https://github.com/willemdj/erlsom.git", {branch, "master"}}}

]}.
{shell, [{apps, [lager,trade_simulator]}, {config, "sys.config"}]}.

{lager, [
  %{log_root, "/tmp/logs/"},
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.